:root {
    --ivory: #FBF3E4;
    --maroon: #dd1717;
    --gray: #626262;
    --translucent-gray: #626262de;
    --heavy-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
    --light-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 15px 0 rgba(0, 0, 0, 0.14);
}

body {
    background-color: var(--ivory);
    font-family: 'Times New Roman', Times, serif;
}

a {
    color: var(--maroon);
}