header {
    display: flex;
    width: 100%;
    height: 80px;
    position: fixed;
    color: black;
    z-index: 10;
}

.name {
    position: absolute;
}

.headerButtons {
    font-size: 16px;
    margin: 10px 10px 10px auto;
}

header > a {
    color: black;
}

.link {
    display: inline;
    margin: 10px;
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 600px) {

    .link {
        font-size: 16px;
        margin: 5px
    }

}