
.appHeader {
  background-color: transparent;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 1;
  position: fixed;
}

.network {
  background-color: rgba(43, 43, 43, 0.539);
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
}

.textContainer {
  background-color: rgba(43, 43, 43, 0.8); 
  box-shadow: 0px 0px 50px 50px rgba(43, 43, 43, .8);
  width: 50%;
  text-align: justify;
  font-size:large
}

.profile {
  float: left; 
  margin-right: 10px; 
  margin-bottom: 10px; 
  margin-top: 10px; 
  width: 15vw; 
  object-fit: cover;
}

@media (max-width: 800px) {

  .textContainer {
    width: 95vw;
    font-size: medium;
    align-items: center;
    margin: 10px 10px 10px 10px;
    height: 200vh;
  }

  .profile {
    display: flex;
    width: 50vw;
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .optional {
    display: none;
  }
}

.linksBox {
  display: flex; 
  justify-content: center; 
  align-items: center;
  margin-top: 10px; 
  margin-bottom: 10px;
}

.link {
  margin-left: 10px; 
  margin-right: 10px; 
  color: white; 
  text-decoration: none; 
  font-size: large;
}

.link:hover {
  color: #be0c0c;
}



